/* .vitepress/theme/custom.css */
:root {
  --vp-font-family-base: "Iosevka", "Maple Mono", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "PingFang SC", "Microsoft YaHei", monospace !important;
  --vp-font-family-mono: "Iosevka", "Maple Mono CN", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "PingFang SC", "Microsoft YaHei", monospace !important;
  --vp-c-brand-1: #9280ed;
  --vp-c-brand-2: #bca6ff;
  --vp-c-brand-3: #9280ed;
  --vp-c-brand-light: #bca6ff;
  --vp-c-brand-lighter: #e6cdff;
  --vp-c-brand-dark: #6a5cc4;
  --vp-c-brand-darker: #413a9d;

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #e6cdff 50%,
    #fff2a8 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
