@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MapleMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Maple Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MapleMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/MapleMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Maple Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/MapleMono-BoldItalic.woff2") format("woff2");
}
